# Git
.git
.gitignore

# GitHub
.github

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
venv
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.local
.env.*.local

# IDEs
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist
build

# Logs
logs
*.log

# Test & cache
.pytest_cache
.coverage
.cache

# Docker
Dockerfile*
docker-compose*.yml

# Documentation
README.md
LICENSE

# Temporary files
*.tmp
*.swp